*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.center{
  width: 80%;
  margin: 0 auto;
}
ul{
  margin: 10px 10px;
  text-align: center;
}
li {
  display: inline-block;
}

/* SEZIONE DELLA LOGINBAR e NAVBAR */

/* LOGINBAR */
#nav_login{
  content: "";
  display: table;
  clear: both;
  background-color: green;
  width: 100%;
  border-bottom: 1px solid white;
}
#nav_login .lingua_nav{
  float: left;
  background-color: red;
  /* debug */
  height: 50px;
  width: 20%;
}
#nav_login .lista_login {
  float: left;
  background-color: wheat;
  /* debug */
  height: 50px;
  width: 20%;
  margin-left: 60%;
}

/* NAVBAR */
#nav_bar{
  content: "";
  display: table;
  clear: both;
  background-color: orange;
  width: 100%;
}
#nav_bar .logo_nav{
  float: left;
  background-color: yellow;
  /* debug */
  height: 50px;
  width: 20%;
}
#nav_bar .lista_nav{
  float: left;
  background-color: purple;
  /* debug */
  height: 50px;
  width: 40%;
  margin-left: 40%;
}

/* SEZIONE BACKROUND HEADER */
.background_header{
  width: 100%;
  height: 1000px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.text_back_header{
  padding-top: 150px;
  width: 45%;
}
.text_back_header h2{
  font-size: 60px;
  color: #333333;
}
.text_back_header p{
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 25pX 0;
  margin-bottom: 70px;
}
.text_back_header a{
  background-color:#ff842a;
  padding: 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.text_back_header p:last-child{
  margin-top: 50px;
}
/* SEZIONE CENTRALE CON COLONNE */
#box_centrale{
  color: #333333;
}
.prima_riga{
  width: 50%;
  /* height:200px; */
  /* background-color: wheat; */
  text-align: center;
  margin: 0 auto;
}
.prima_riga img {
  width: 300px;
}
.prima_riga h2{
  font-size: 40px;
  margin-bottom: 30px;
}
.prima_riga span{
  font-size: 20px;
  font-weight: 600;

}
