*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.center{
  width: 80%;
  margin: 0 auto;
}
ul{
  text-align: left;
}
li {
  display: inline-block;
  font-size: 20px;
  font-weight:600;
}
a {
  text-decoration: none;
  color: #333333;
}

/* SEZIONE DELLA LOGINBAR e NAVBAR */
nav li {
  margin: 15px;
}
/* LOGINBAR */
#nav_login{
  content: "";
  display: table;
  clear: both;
  /* background-color: green; */
  width: 100%;
  border-bottom: 1px solid black;
}
#nav_login .lingua_nav{
  float: left;
  /* background-color: red; */
  /* debug */
  height: 50px;
  width: 50%;
}
#nav_login .lista_login {
  float: left;
  /* background-color: wheat; */
  /* debug */
  height: 50px;
  width: 50%;
  /* margin-left: 40%; */
}
.lista_login ul, .lista_nav ul {
  text-align: right;
}

/* NAVBAR */
#nav_bar img{
  margin-left: 10px;
  width: 110px;
}
#nav_bar{
  content: "";
  display: table;
  clear: both;
  /* background-color: orange; */
  width: 100%;
  margin-top: 15px;
}
#nav_bar .logo_nav{
  float: left;
  /* background-color: yellow; */
  /* debug */
  height: 50px;
  width: 50%;
}
#nav_bar .lista_nav{
  float: left;
  /* background-color: purple; */
  /* debug */
  height: 50px;
  width: 50%;
  /* margin-left: 40%; */
}

/* SEZIONE BACKROUND HEADER */
.background_header{
  width: 100%;
  height: 1000px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.text_back_header{
  padding-top: 150px;
  width: 45%;
}
.text_back_header h2{
  font-size: 60px;
  color: #333333;
}
.text_back_header p{
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 25pX 0;
  margin-bottom: 70px;
}
.text_back_header a{
  background-color:#ff842a;
  padding: 25px;
  border-radius: 10px;
  color: white;

}
.text_back_header p:last-child{
  margin-top: 50px;
}
/* SEZIONE CENTRALE CON COLONNE */
main{
  background-color: #ededed;
}
#box_centrale{
  color: #333333;
}
/* PRIMA RIGA */
.prima_riga{
  width: 50%;
  /* height:200px; */
  /* background-color: wheat; */
  text-align: center;
  margin: 0 auto;

}
.prima_riga img {
  width: 300px;
}
.prima_riga h2{
  font-size: 40px;
  margin-bottom: 30px;
}
.prima_riga span{
  font-size: 20px;
  font-weight: 600;
}

/* SECONDA RIGA */
#box_centrale img{
  width: 145px;
}
#box_centrale a{
  display: block;
  background-color:#ff842a;
  padding: 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin: 15px 110px;
}
#box_centrale span{
  font-size: 20px;
  font-weight: 600;
}
.seconda_riga{
  content: "";
  display: table;
  clear: both;
  /* debug */
  height: 200px;
  /* background-color: wheat; */
  width: 100%;
  margin-top:40px;
  border: 2px solid #c9c9c9;
  background-color: white;
  padding: 50px;
}
.colonna1{
  float: left;
  width: 35%;
  /* height: 100px; */
  /* background-color: red; */
  text-align: center;
}
.colonna2{
  float: left;
  width: 45%;
  /* height: 100px; */
  /* background-color: orange; */
}
.colonna2 span,h3{
  margin: 15px 0;
  display: block;
}
.colonna2 li {
  margin: 0 10px;
}
/* TERZA RIGA */
.terza_riga li{
  display: block;
}
.terza_riga h3, ul {
  margin-top: 35px;
}
.terza_riga ul{
  margin-bottom: 35px;
}
[class*="colonna_"]{
  float:left;
  width: 31%;
  margin: 15px;
  text-align: center;
  border: 2px solid #c9c9c9;
  background-color: white;
  padding: 50px;
  padding-bottom: 5px;
}

.terza_riga{
  content: "";
  display: table;
  clear: both;
  /* debug */
  height: 500px;
  margin-top:40px;
}


.terza_riga p{
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 30px;
  border-bottom: 1px solid  #333333;
}
.colonna_1 p {
  margin-top: 15px;
}

.colonna_1 h2 {margin-top: 15px;
}

.colonna_2 p {
  margin-top: 14px;
}

.colonna_2 h2 {
  margin-top:45px;
}
.colonna_3 p {
  margin-top: 14px;
}
